@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

.main {
      background-color: #ff6747;
      font-family: 'Hind Guntur', sans-serif;
}

.h1 {
    display: flex;
    justify-content: center;
}